* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.tab {
  display: block;
  width: 200px;
  text-align: center;
  background-color: #aeaeae;
  height: 40px;
  line-height: 40px;
}
.tab a {
  text-decoration: none;
}
.tab:hover {
  cursor: pointer;
}
.content {
  height: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: none;
}
.content-1 {
  display: block;
}
